#skills {
    min-height: 100vh;
    padding: 5rem;
    background-color: #e1ebed;
    display: flex;
    flex-direction: column;
    /* justify-content: end; */
    margin-bottom: -7rem;
    margin-top: -7rem;
    gap: 1rem;
}

.skills_container {
    display: flex;
    justify-content: end;
}

.skills_desc {
    width: 45%;
    margin-bottom: 2rem;
}

.skills_desc h1 {
    font-size:5.5rem;
    color:#291c3a;
}

.skills_desc p {
    font-size:2rem;
    color:#331c52;
}

.skills_boxes {
    display: flex;
    flex-direction: column;
    gap: 3rem;

}

.skills_boxes1 {
    display: flex;
    gap: 2rem;
}

.skills_boxes2 {
    display: flex;
    gap:2rem;
}

.skills_box {
    padding: 0.5rem;
    box-shadow: #dccfed 0rem 0rem 0.5rem 0.1rem;
    background-color: #291c3a;
    height: 6rem;
    width: 6rem;
    border-radius: 1rem;
}

.skills_box img{
    height: 5rem;
    width: 5rem;
    border-radius: 1rem;
}

.skills_boxes3, .skills_boxes4 {
    display: none;
    gap:2rem;
}

.px540 {
    display: none;
}
.skills_boxes3540 {
    display: none;
}

@media (max-width:600px) {
    #skills {
        justify-content: start;
        margin-top: 0rem;
        padding: 1rem;
        gap: 0rem;
    }
    .skills_desc h1 {
        font-size: 4rem;
        white-space: nowrap;
    }
    .skills_desc p {
        font-size: 1.3rem;
        white-space: nowrap;
    }
    .skills_box {
        width: 5.5rem;
        height: 5.5rem;
    }
    .skills_box img {
        height: 4.5rem;
        width: 4.5rem;
    }
    .skills_container {
        justify-content: start;
    }
    .skills_boxes3, .skills_boxes4 {
        display: flex;
    }
    .skills_boxes1 #js, #mongo, .skills_boxes2 #py, #java {
        display: none;
    }
}