.navbar {
    height: 8rem;
    width: 100%;
    background: linear-gradient(101deg, rgba(129, 33, 208, 1) 57%, rgba(41, 28, 58, 1) 74%);
    padding: 1rem;
    z-index: 9;
    display: flex;
    justify-content:space-between;
    align-items: center;
    box-shadow: #291c3a 0rem 0rem 0.2rem 0.2rem;
}

#pic {
    height:7rem;
    width:7rem; 
    border-radius: 50%;
}

#hp {
    white-space: nowrap;
    margin-left: 1rem;
}

.navbar_left {
    display: flex;
    justify-content: space-between;
    width: 20%;
    align-items: center;
    margin-left: 4rem;
}

.navbar_links {
    display: flex;
    gap: 4rem;
    width: 50%;
    align-items: center;
}

.navbar_links a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}

.navbar_contact-btn {
    color: #291c3a;
    background-color: white;
    padding: 0.5rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    border-radius: 0.8rem;

}

.navbar_contact-btn a {
    text-decoration: none;
    white-space: nowrap;
    color: #291c3a;
}

#menu {
    height: 1.7rem;
    width: 1.7rem;
    display: none;
}

#close {
    display: none;
    height: 1.7rem;
    width: 1.7rem;
    margin-left: -2.3rem;
}

@media (max-width:600px) {
    .navbar {
        height: 8rem;
        justify-content: space-between;
    }
    .navbar_left {
        margin-left: 0rem;
    }
    .navbar_links, .navbar_contact-btn {
        display: none;
    }
    #hp {
        white-space: nowrap;
        font-size: 1.5rem;
    }
    #menu {
        display: block;
        margin-left: 15rem;
    }
    #pic {
        height: 5rem;
        width: 5rem;
    }
}