#footers {
    height: 100vh;
    width: 100%;
    background-color: #dccfed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#buildh1 {
    font-size:4rem;
    color:#291c3a;
    margin-top:2rem;
}

#footers h3 {
    font-size:3rem;
    color:#291c3a;
}

#cool {
    color:#8121d0;
}


.page {
    height: 100vh;
    width: 100%;
}

.int-boxes {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}

.int-box {
    border: 0.1rem solid #331c52;
    border-radius: 1rem;
    padding: 1rem;
    /* background-color: #331c52; */
    color: #331c52;
}

.int-box:hover {
    color: white;
    background-color: #331c52;
    transition: 0.5s;
}

.footer-end {
    bottom: 0;
    background-color: #331c52;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 40%;
    font-size: 2rem;
    /* position: fixed; */
}

#contacth1 {
    font-size:3rem;
}

#clickh4 {
    font-size:2rem;
}

#heart_icon {
    width: 2rem;
    height: 2rem;
}

#mail_icon {
    height:5rem; 
    width:5rem;
}


@media (max-width:600px){
    #footers #buildh1 {
        font-size: 1.3rem;
        white-space: nowrap;
    }
    #footers h3 {
        font-size: 1.7rem;
    }
    .int-boxes {
        gap: 0.3rem;
    }
    .int-box {
        height: 3rem;
        width: 7rem;
    }
    .int-box h4 {
        font-size: 0.8rem;
        white-space: nowrap;
    }
    #porth4 {
        margin-left: -0.5rem;
    }
    #ecoh4 {
        font-size: 0.7rem;
        margin-left: -0.8rem;
    }
    .footer-end {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .footer-end p {
        font-size: 1.58rem;
        white-space: nowrap;
    }
    #heart_icon {
        height: 1.4rem;
        width: 1.4rem;
    }
    #mail_icon {
        height: 3rem;
        width: 3rem;
    }
    #clickh4 {
        font-size: 1.2rem;
    }
    #contacth1 {
        font-size: 2rem;
        margin-top: 1rem;
    }
}